.gal-item {
    float: left;
    padding: 3px;
    border: 1px solid #d4d4d4;
    margin: 4px;
    opacity: 0.8;
}

.gal-item:hover {
    opacity: 1.0;
}

/* custom  */
#portfolio{
    background: transparent;
    color: #fff;
}
.section-title-name h2{
    color: #fff;
}
a{
    color: #fff;
}
.white-bg{
    background: transparent;
}
.about-block p{
    color: #fff;
}
.form__custom{
    width: 50%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.form__custom h2{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.input__custom{
    border-radius: 10px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    border: 3px solid #fff;
}
.input__custom::placeholder{
    color: #fff;
}
.textarea__custom{
    border-radius: 10px;
    height: 200px;
    color: #fff;
    font-weight: bold;
    border: 3px solid #fff;
}
.textarea__custom::placeholder{
    color: #fff;
}
.button__custom{
    background: #789E8D;
    border-radius: 10px;
}